<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Knight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{166,192}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Knight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,3}</string>
                <key>spriteSize</key>
                <string>{164,192}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{169,1},{164,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>resourse.png</string>
            <key>size</key>
            <string>{334,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d2d430546db2e05274cf0b87030ca5e:8db238dea224836c1be07d423d779d2e:e8b7ec9025c3b704dc38783aa26da601$</string>
            <key>textureFileName</key>
            <string>resourse.png</string>
        </dict>
    </dict>
</plist>
